<!DOCTYPE html>

<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1F-Bike- Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
     <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&callback=initMap&libraries=&v=weekly"
      async
    ></script>
    <script>
<!--          function loadScript()-->
<!--         {-->
<!--           var script = document.createElement("script");-->
<!--           script.type = "text/javascript";-->
<!--           script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw&sensor=false&callback=initialize";-->
<!--           document.body.appendChild(script);-->
<!--         }-->

<!--          window.onload = loadScript;-->
        </script>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Data visualization
            </div>

            <!-- bike map -->
            <li class="nav-item" onclick="clickHandler('/bikemap')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Bike map</span></a>
            </li>

             <!-- bar_rent_duration ~ Rental Situation-->
            <li class="nav-item" onclick="clickHandler('/bar_rent_duration')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Rental Situation</span></a>
            </li>

            <!-- quantity of orders ~ bar_datazoom_Monthly_payment_quantity-->
            <li class="nav-item" onclick="clickHandler('/monthpay')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>orders quantity</span></a>
            </li>


            <!-- Rental Places ~ heatmap-bike-->
            <li class="nav-item" onclick="clickHandler('/bheatmap')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Rental Places</span></a>
            </li>

            <!-- Payment Places -->
            <li class="nav-item" onclick="clickHandler('/pheatmap')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Payment Places</span></a>
            </li>

            <!-- usage rate liquid-->
            <li class="nav-item" onclick="clickHandler('/busage')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>usage rate</span></a>
            </li>

            <!-- User Scale pie_user_structure-->
            <li class="nav-item" onclick="clickHandler('/ustructure')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>User Scale</span></a>
            </li>

            <!-- Bike Status-->
            <li class="nav-item" onclick="clickHandler('/bstatus')">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Bike Status</span></a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- !!!!!!!!!!!!!!!!!!!Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div style="width: 100%;height: calc(100vh - 60px);">
                            <!--                            <div class="card border-left-primary shadow h-100 py-2">-->
                            <!--                                <div class="card-body">-->
                            <!--                                    <div class="row no-gutters align-items-center">-->
                            <!--                                        <div class="col mr-2">-->
<!--                            <iframe id="frame" src="https://www.baidu.com" width="100%" height="100%"-->
<!--                                frameborder="0"></iframe>-->
                            <div id="frame-page" style="height:600;"></div>

                            <!--                                        </div>-->
                            <!--                                        <div class="col-auto">-->
                            <!--                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                        </div>
                    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white" style="display:none;">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; 1F-Bikes 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap core JavaScript-->
<!--    <script src="vendor/jquery/jquery.min.js"></script>-->
<!--    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--    &lt;!&ndash; Core plugin JavaScript&ndash;&gt;-->
<!--    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--    &lt;!&ndash; Custom scripts for all pages&ndash;&gt;-->
<!--    <script src="js/sb-admin-2.min.js"></script>-->

    <!-- Page level plugins -->
<!--    <script src="vendor/chart.js/Chart.min.js"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script src="js/demo/chart-area-demo.js"></script>-->
<!--    <script src="js/demo/chart-pie-demo.js"></script>-->

    <script>
        function clickHandler(url) {
            $("#frame-page").load(url);
            $.getScript()
        }

    </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3vT3UOTtr5GYl6yqo3wLfmaiElz66hIw" async defer></script>

</body>

</html>
