<!DOCTYPE html>
<html>
  <head>
    <title>manager login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/manager_login/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/manager_login/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- 背景 (Dynamic Panel) -->
      <div id="u344" class="ax_default" data-label="背景">
        <div id="u344_state0" class="panel_state" data-label="State1" style="">
          <div id="u344_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 底部版权 (Dynamic Panel) -->
      <div id="u345" class="ax_default" data-label="底部版权">
        <div id="u345_state0" class="panel_state" data-label="State1" style="">
          <div id="u345_state0_content" class="panel_state_content">

            <!-- Unnamed (elevatedprivileges) -->

            <!-- Unnamed (Rectangle) -->
            <div id="u347" class="ax_default _默认样式">
              <img id="u347_img" class="img " src="images/login/u3.svg"/>
              <div id="u347_text" class="text ">
                <p><span style="color:#CCCCCC;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p><p><span style="color:#999999;">Copyright © </span><a id="u348" class="link" title="点击打开www.AxureUX.com"><span style="color:#999999;">www.Bike1f.com</span></a><span style="color:#999999;">, All Rights Reserved.</span></p><p><span style="color:#CCCCCC;"><br></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u349" class="ax_default label">
              <div id="u349_div" class=""></div>
              <div id="u349_text" class="text ">
                <p><span>Staff</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u350" class="ax_default label">
              <div id="u350_div" class=""></div>
              <div id="u350_text" class="text ">
                <p><span>Manager</span></p>
              </div>
            </div>

            <!-- Unnamed (Line) -->
            <div id="u351" class="ax_default line">
              <img id="u351_img" class="img " src="images/login/u7.svg"/>
              <div id="u351_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
            <div id="u346" style="display:none; visibility:hidden;"></div>
          </div>
        </div>
      </div>

      <!-- 登录面板 (Dynamic Panel) -->
      <div id="u352" class="ax_default" data-label="登录面板">
        <div id="u352_state0" class="panel_state" data-label="State1" style="">
          <div id="u352_state0_content" class="panel_state_content">

            <!-- 登录按纽 (Rectangle) -->
            <div id="u353" class="ax_default _默认样式" data-label="登录按纽" selectiongroup="按纽组-9">
              <div id="u353_div" class=""></div>
              <div id="u353_text" class="text ">
                <p><span>Login</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u354" class="ax_default _默认样式">
              <img id="u354_img" class="img " src="images/login/u12.svg"/>
              <div id="u354_text" class="text ">
                <p><span>Welcome!</span></p><p><span>Bike</span></p>
              </div>
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u355" class="ax_default _默认样式">
              <img id="u355_img" class="img " src="images/operator_login/u38.svg"/>
              <div id="u355_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>

            <!-- 输入框 (Group) -->
            <div id="u356" class="ax_default" data-label="输入框" selectiongroup="按纽组-9" data-left="25" data-top="241" data-width="350" data-height="55">

              <!-- 边框 (Rectangle) -->
              <div id="u357" class="ax_default _默认样式" data-label="边框">
                <img id="u357_img" class="img " src="images/login/usernamediv_u14.svg"/>
                <div id="u357_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 清除 (Rectangle) -->
              <div id="u358" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
                <div id="u358_div" class=""></div>
                <div id="u358_text" class="text ">
                  <p><span>Clear</span></p>
                </div>
              </div>

              <!-- 图标 (Rectangle) -->
              <div id="u359" class="ax_default _默认样式" data-label="图标">
                <img id="u359_img" class="img " src="images/login/unamediv_u16.svg"/>
                <div id="u359_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- 输入框 (Text Field) -->
              <div id="u360" class="ax_default _默认样式" data-label="输入框">
                <div id="u360_div" class=""></div>
                <input id="u360_input" type="text" value="" class="u360_input" maxlength="20"/>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u361" class="ax_default label">
                <div id="u361_div" class=""></div>
                <div id="u361_text" class="text ">
                  <p><span>Uid</span></p>
                </div>
              </div>
            </div>

            <!-- 输入框 (Group) -->
            <div id="u362" class="ax_default" data-label="输入框" data-left="25" data-top="316" data-width="350" data-height="55">

              <!-- 边框 (Rectangle) -->
              <div id="u363" class="ax_default _默认样式" data-label="边框">
                <img id="u363_img" class="img " src="images/login/usernamediv_u14.svg"/>
                <div id="u363_text" class="text ">
                  <p><span>s</span></p>
                </div>
              </div>

              <!-- 输入框 (Text Field) -->
              <div id="u364" class="ax_default _默认样式" data-label="输入框">
                <div id="u364_div" class=""></div>
                <input id="u364_input" type="password" value="" class="u364_input" maxlength="20"/>
              </div>

              <!-- 清除 (Rectangle) -->
              <div id="u365" class="ax_default _默认样式 ax_default_hidden" data-label="清除" style="display:none; visibility: hidden">
                <div id="u365_div" class=""></div>
                <div id="u365_text" class="text ">
                  <p><span>Clear</span></p>
                </div>
              </div>

              <!-- Unnamed (Rectangle) -->
              <div id="u366" class="ax_default label">
                <div id="u366_div" class=""></div>
                <div id="u366_text" class="text ">
                  <p><span>Psd</span></p>
                </div>
              </div>

              <!-- 图标 (Rectangle) -->
              <div id="u367" class="ax_default _默认样式" data-label="图标">
                <img id="u367_img" class="img " src="images/login/unamediv_u16.svg"/>
                <div id="u367_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>
            </div>

            <!-- 登录按纽 (Rectangle) -->
            <div id="u368" class="ax_default _默认样式" data-label="登录按纽" selectiongroup="按纽组-9">
              <div id="u368_div" class=""></div>
              <div id="u368_text" class="text ">
                <p><span>Back homepage</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
