<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movebike</title>
</head>
<body>
<style type="text/css">
    #select_move{
        position: absolute;
        top:670px;
        left:30%;
        width:800px;
        height:300px;
        background:white;
        display:none
    }
</style>
    <table border="1" width="30%" cellpadding="0" cellspacing="0" bgcolor="#f0ffff" align="center">
        <caption>Bike Information</caption>
        <thead>
            <tr bgcolor="#ff7f50">
                <th>Bike ID</th>
                <th>Bike status</th>
                <th>Bike latitude</th>
                <th>Bike longitude</th>
                <th>Bike area</th>
                <th>Bike usage</th>
            </tr>
        </thead>

        <tbody align="center">
        {% for bike_info in allbikes %}
             <tr>
                <td>{{bike_info.bID}}</td>
                <td>{{bike_info.bstatus}}</td>
                <td>{{bike_info.bGPSx}}</td>
                 <td>{{bike_info.bGPSy}}</td>
                <td>{{bike_info.barea}}</td>
                <td>{{bike_info.busage}}</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
<table border="1" width="30%" cellpadding="0" cellspacing="0" bgcolor="#f0ffff" align="center">
        <caption>Bike area and amount</caption>
        <thead>
            <tr bgcolor="#ff7f50">
                <th>Bike area and amount</th>
            </tr>
        </thead>
        <tbody align="center">
        {% for i in result %}
             <tr>
                <td>{{i}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<p>Message!!!!!</p>
{% for i in warn %}
             <tr>
                <td>{{i}}!</td>
            </tr>
        {% endfor %}
<button type="button" onclick="outDiv()">move bike</button>
<form action="move" method="get">
    <div id="select_move">
        <input type="text" name="bID" placeholder="Please type a bikeID that you want to remove">
<!--        如果没有id就报错！-->

        <span>TO</span>

        <input type="text" name="barea" placeholder=" which area">
        <!--<select>
            <option value="A">area A</option>
            <option value="B">area B</option>
            <option value="C">area C</option>
            <option value="D">area D</option>
        </select>
        <button>confirm</button>-->
        <input type="submit" name="submit1" value="submit">
        <!--<button onclick="hideDiv()">cancel</button>-->
    </div>
    </form>

<script>
    function outDiv(){
    document.getElementById("select_move").style.display="block";
    }

    function hideDiv(){
    document.getElementById("select_move").style.display="none";
    }
</script>

</body>
</html>
