<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="bike1f" content="width=device-width, initial-scale=1">
		<title>Payment</title>
		<!--Bootstrap.min css to adjust center-->
		<!--<link rel="stylesheet" href="/bikeapp/style/css/bootstrap.min.css">-->
		<!--Style css to color/photo/style-->
<!--		<link rel="stylesheet" href="/bikeapp/style/css/bootstrap.min.css">-->
	 	{% load static %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<!--<link rel="stylesheet" href="{% static 'css/icons.css' %}" />-->
		<link rel="stylesheet" href="{% static 'css/sidemenu.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/scripts.min.js' %}"></script>
		<script src="{% static 'js/sidemenu.min.js' %}"></script>
		<!--<img src="{% static 'img/img14.jpg' %} ">-->
		<!--<img src="{% static 'img/logo.png' %} ">-->
	</head>

	<body  style="background:#FFFFFF">
		<div id="app" style="background:#FFFFFF">

			<section class="section section-2">
				<div class="container">
					<div class="single-page single-pageimage construction-bg cover-image " data-image-src="assets/img/news/img14.jpg" style="background:#87CEFA">
						<div class="wrapper wrapper2" style="background:#87CEFA">
							<!--<form action="dd" method="get" class="card-body" tabindex="500">-->
							<h3><font color="#000000">Payment</font></h3>
							<h5><font color="#000000">Bicycle ID: {{ bid }}</font></h5>
							<h5><font color="#000000">Payment ID: {{ payid }}</font></h5>
							<h5><font color="#000000">Use time: {{ time }}</font></h5>
							<h5><font color="#000000">Bill: {{ discount_bill }}</font></h5>
							<form action="pay" method="get" class="card-body" tabindex="500" style="background:#87CEFA">
								<div class="submit">
									<button style="background:#3356BB" class="btn btn-primary btn-block" type="submit" name="subtype" value="1"> payment</button>
									<!--<input class="btn btn-primary btn-block" type="submit" name="submitr" value="Report" >-->
								</div>
								<p class="mb-2"><a href="../register.html" ><font color="#000000">other problem?</font></a></p>
							</form>
							{% if put == 1 %}
							<p class="form"><center><font color="green">Success!</font></center>
							<center><font color="green">The payment is successful!</font></center>
							{% endif %}
							{% if put == 0 %}
							<p class="form"><center><font color="#FF0000">Error！Please try again!</font></center>
							{% endif %}

						</div>
					</div>
					<div class="simple-footer mt-5 text-white">
						Copyright &copy; psd tapp lab 1f ada 2021

				</div>

				</div>

			</section>

		</div>





	</body>
</html>