<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="bike1f" content="width=device-width, initial-scale=1">
		<title></title>
		<!--Bootstrap.min css to adjust center-->
		<!--<link rel="stylesheet" href="/bikeapp/style/css/bootstrap.min.css">-->
		<!--Style css to color/photo/style-->
<!--		<link rel="stylesheet" href="/bikeapp/style/css/bootstrap.min.css">-->
	 	{% load static %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/icons.css' %}" />
		<link rel="stylesheet" href="{% static 'css/sidemenu.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/scripts.min.js' %}"></script>
		<script src="{% static 'js/sidemenu.min.js' %}"></script>
		<img src="{% static 'img/logo.png' %} ">
	</head>

	<body class="bg-primary">
		<div id="app">
			<section class="section">
                <div class="container mt-5">
					<div class="page-error">
						<div class="page-inner">
							{% if has_register == 0 %}
							<h1>Succeed</h1>
							<div class="page-description">
								Congratulations on becoming one of our users: {{ userName }}！！
							</div>
							<div class="page-search">
								<div class="mt-3">
								<div >please login first!</div>
								<input class="btn btn-primary btn-block" type="button" value="login"  onclick="location.href='../login'">

								</div>
							</div>

							{% endif %}


							{% if has_register == 1 %}
								<h1>failed!</h1>
								<br>
								<br>
								<p class="form"><i>register failed！</i>
								<br>
								<p class="form"><i id="ddd">user：{{ userName }} was existed！</i>
									<div>
									<br>
									<br>
									<br>
									<input class="btn btn-primary btn-block" type="button" value="register"  onclick="location.href='../register'">
									</div>
							{% endif %}


						</div>

					</div>
					<div class="simple-footer mt-5 text-white">
						Copyright &copy; psd tapp lab 17 ada 2021
					</div>
				</div>
			</section>
		</div>
	</body>
</html>