<!DOCTYPE html>
<html>
  <head>
    <title>report</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/report/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script src="resources/scripts/axure/jquery.nicescroll.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/report/data.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Return) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1326" class="ax_default _默认样式" title="返回">
        <div id="u1326_div" class=""></div>
        <div id="u1326_text" class="text ">
          <p><span>Return</span></p>
        </div>
      </div>
      <div id="u1325" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (elevatedprivileges) -->

      <!-- Unnamed (Rectangle) -->
      <div id="u1328" class="ax_default _默认样式">
        <img id="u1328_img" class="img " src="images/login/u3.svg"/>
        <div id="u1328_text" class="text ">
          <p><span style="color:#CCCCCC;">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </span></p><p><span style="color:#999999;">Copyright © </span><a id="u1329" class="link" title="点击打开www.AxureUX.com"><span style="color:#999999;">www.Bike1f.com</span></a><span style="color:#999999;">, All Rights Reserved.</span></p><p><span style="color:#CCCCCC;"><br></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1330" class="ax_default label">
        <div id="u1330_div" class=""></div>
        <div id="u1330_text" class="text ">
          <p><span>Staff</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1331" class="ax_default label">
        <div id="u1331_div" class=""></div>
        <div id="u1331_text" class="text ">
          <p><span>Manager</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u1332" class="ax_default line">
        <img id="u1332_img" class="img " src="images/login/u7.svg"/>
        <div id="u1332_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
      <div id="u1327" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (sidepanel) -->

      <!-- 内部框架 (Inline Frame) -->
      <div id="u1334" class="ax_default" data-label="内部框架">
        <iframe id="u1334_input" data-label="内部框架" scrolling="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>

      <!-- 左侧菜单 (Dynamic Panel) -->
      <div id="u1335" class="ax_default" data-label="左侧菜单">
        <div id="u1335_state0" class="panel_state" data-label="首页" style="">
          <div id="u1335_state0_content" class="panel_state_content">

            <!-- 收缩菜单 (Dynamic Panel) -->
            <div id="u1336" class="ax_default" data-label="收缩菜单">
              <div id="u1336_state0" class="panel_state" data-label="展开" style="">
                <div id="u1336_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1337" class="ax_default _默认样式">
                    <div id="u1337_div" class=""></div>
                    <div id="u1337_text" class="text ">
                      <p><span>Rent bike</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1338" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1338_div" class=""></div>
                    <div id="u1338_text" class="text ">
                      <p><span>enter number</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1339" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1339_div" class=""></div>
                    <div id="u1339_text" class="text ">
                      <p><span>report</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u1336_state1" class="panel_state" data-label="收起" style="visibility: hidden;">
                <div id="u1336_state1_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1340" class="ax_default _默认样式">
                    <div id="u1340_div" class=""></div>
                    <div id="u1340_text" class="text ">
                      <p><span>Rent Bike</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1341" class="ax_default _文本段落">
                    <div id="u1341_div" class=""></div>
                    <div id="u1341_text" class="text ">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 收缩菜单 (Dynamic Panel) -->
            <div id="u1342" class="ax_default" data-label="收缩菜单">
              <div id="u1342_state0" class="panel_state" data-label="展开" style="">
                <div id="u1342_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1343" class="ax_default _默认样式">
                    <div id="u1343_div" class=""></div>
                    <div id="u1343_text" class="text ">
                      <p><span>User</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1344" class="ax_default _文本段落">
                    <div id="u1344_div" class=""></div>
                    <div id="u1344_text" class="text ">
                      <p><span></span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1345" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1345_div" class=""></div>
                    <div id="u1345_text" class="text ">
                      <p><span>profile photo</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1346" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1346_div" class=""></div>
                    <div id="u1346_text" class="text ">
                      <p><span>account</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1347" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1347_div" class=""></div>
                    <div id="u1347_text" class="text ">
                      <p><span>history</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u1342_state1" class="panel_state" data-label="收起" style="visibility: hidden;">
                <div id="u1342_state1_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1348" class="ax_default _默认样式">
                    <div id="u1348_div" class=""></div>
                    <div id="u1348_text" class="text ">
                      <p><span>User</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1349" class="ax_default _文本段落">
                    <div id="u1349_div" class=""></div>
                    <div id="u1349_text" class="text ">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 收缩菜单 (Dynamic Panel) -->
            <div id="u1350" class="ax_default" data-label="收缩菜单">
              <div id="u1350_state0" class="panel_state" data-label="展开" style="">
                <div id="u1350_state0_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1351" class="ax_default _默认样式">
                    <div id="u1351_div" class=""></div>
                    <div id="u1351_text" class="text ">
                      <p><span>Map</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1352" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1352_div" class=""></div>
                    <div id="u1352_text" class="text ">
                      <p><span>location</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1353" class="ax_default _默认样式" selectiongroup="u1333二级菜单">
                    <div id="u1353_div" class=""></div>
                    <div id="u1353_text" class="text ">
                      <p><span>bike information</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="u1350_state1" class="panel_state" data-label="收起" style="visibility: hidden;">
                <div id="u1350_state1_content" class="panel_state_content">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1354" class="ax_default _默认样式">
                    <div id="u1354_div" class=""></div>
                    <div id="u1354_text" class="text ">
                      <p><span>Map</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1355" class="ax_default _文本段落">
                    <div id="u1355_div" class=""></div>
                    <div id="u1355_text" class="text ">
                      <p><span></span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 顶部菜单 (Dynamic Panel) -->
      <div id="u1356" class="ax_default" data-label="顶部菜单">
        <div id="u1356_state0" class="panel_state" data-label="框架" style="">
          <div id="u1356_state0_content" class="panel_state_content">

            <!-- 背景颜色 (Dynamic Panel) -->
            <div id="u1357" class="ax_default" data-label="背景颜色">
              <div id="u1357_state0" class="panel_state" data-label="设置动态面板背景" style="">
                <div id="u1357_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>

            <!-- 顶部线条 (Dynamic Panel) -->
            <div id="u1358" class="ax_default" data-label="顶部线条">
              <div id="u1358_state0" class="panel_state" data-label="线条" style="">
                <div id="u1358_state0_content" class="panel_state_content">
                </div>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1359" class="ax_default _默认样式 selected">
              <div id="u1359_div" class="selected"></div>
              <div id="u1359_text" class="text ">
                <p><span>Bike</span></p>
              </div>
            </div>

            <!-- 用户菜单 (Dynamic Panel) -->
            <div id="u1360" class="ax_default" data-label="用户菜单">
              <div id="u1360_state0" class="panel_state" data-label="State1" style="">
                <div id="u1360_state0_content" class="panel_state_content">

                  <!-- 账户设置 (Rectangle) -->
                  <div id="u1361" class="ax_default _默认样式" data-label="账户设置" title="账户设置">
                    <div id="u1361_div" class=""></div>
                    <div id="u1361_text" class="text ">
                      <p><span></span></p>
                    </div>
                  </div>

                  <!-- 账户信息 (Rectangle) -->
                  <div id="u1362" class="ax_default _默认样式" data-label="账户信息">
                    <div id="u1362_div" class=""></div>
                    <div id="u1362_text" class="text ">
                      <p style="font-size:20px;"><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;font-size:12px;"> Admin </span><span style="font-family:'FontAwesome', sans-serif;font-size:12px;"></span></p>
                    </div>
                  </div>

                  <!-- 消息中心 (Rectangle) -->
                  <div id="u1363" class="ax_default _默认样式" data-label="消息中心" title="消息中心">
                    <div id="u1363_div" class=""></div>
                    <div id="u1363_text" class="text ">
                      <p><span style="font-family:'FontAwesome', sans-serif;"></span><span style="font-family:'微软雅黑', sans-serif;"> </span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1364" class="ax_default _默认样式">
                    <div id="u1364_div" class=""></div>
                    <div id="u1364_text" class="text ">
                      <p><span>50</span></p>
                    </div>
                  </div>

                  <!-- 退出系统 (Rectangle) -->
                  <div id="u1365" class="ax_default _默认样式" data-label="退出系统" title="退出系统">
                    <div id="u1365_div" class=""></div>
                    <div id="u1365_text" class="text ">
                      <p><span></span></p>
                    </div>
                  </div>

                  <!-- 更多菜单 (Dynamic Panel) -->
                  <div id="u1366" class="ax_default ax_default_hidden" data-label="更多菜单" style="display:none; visibility: hidden">
                    <div id="u1366_state0" class="panel_state" data-label="State1" style="">
                      <div id="u1366_state0_content" class="panel_state_content">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u1367" class="ax_default _默认样式">
                          <div id="u1367_div" class=""></div>
                          <div id="u1367_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u1368" class="ax_default _默认样式">
                          <div id="u1368_div" class=""></div>
                          <div id="u1368_text" class="text ">
                            <p><span>修改密码</span></p>
                          </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u1369" class="ax_default _默认样式">
                          <div id="u1369_div" class=""></div>
                          <div id="u1369_text" class="text ">
                            <p><span>基本信息</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- 消息菜单 (Dynamic Panel) -->
                  <div id="u1370" class="ax_default ax_default_hidden" data-label="消息菜单" style="display:none; visibility: hidden">
                    <div id="u1370_state0" class="panel_state" data-label="State1" style="">
                      <div id="u1370_state0_content" class="panel_state_content">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u1371" class="ax_default _默认样式">
                          <div id="u1371_div" class=""></div>
                          <div id="u1371_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                          </div>
                        </div>

                        <!-- Unnamed (Group) -->
                        <div id="u1372" class="ax_default" data-left="20" data-top="40" data-width="140" data-height="160">

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1373" class="ax_default _默认样式">
                            <div id="u1373_div" class=""></div>
                            <div id="u1373_text" class="text ">
                              <p><span>全部消息</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1374" class="ax_default _默认样式">
                            <div id="u1374_div" class=""></div>
                            <div id="u1374_text" class="text ">
                              <p><span>产品消息</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1375" class="ax_default _默认样式">
                            <div id="u1375_div" class=""></div>
                            <div id="u1375_text" class="text ">
                              <p><span>安全消息</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1376" class="ax_default _默认样式">
                            <div id="u1376_div" class=""></div>
                            <div id="u1376_text" class="text ">
                              <p><span>服务消息</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1377" class="ax_default _默认样式">
                            <img id="u1377_img" class="img " src="images/search/u92.svg"/>
                            <div id="u1377_text" class="text ">
                              <p><span style="color:#666666;">(</span><span style="color:#F04844;">10</span><span style="color:#666666;">)</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1378" class="ax_default _默认样式">
                            <img id="u1378_img" class="img " src="images/search/u92.svg"/>
                            <div id="u1378_text" class="text ">
                              <p><span style="color:#666666;">(</span><span style="color:#F04844;">10</span><span style="color:#666666;">)</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1379" class="ax_default _默认样式">
                            <img id="u1379_img" class="img " src="images/search/u92.svg"/>
                            <div id="u1379_text" class="text ">
                              <p><span style="color:#666666;">(</span><span style="color:#F04844;">10</span><span style="color:#666666;">)</span></p>
                            </div>
                          </div>

                          <!-- Unnamed (Rectangle) -->
                          <div id="u1380" class="ax_default _默认样式">
                            <img id="u1380_img" class="img " src="images/search/u92.svg"/>
                            <div id="u1380_text" class="text ">
                              <p><span style="color:#666666;">(</span><span style="color:#F04844;">10</span><span style="color:#666666;">)</span></p>
                            </div>
                          </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u1381" class="ax_default _默认样式">
                          <div id="u1381_div" class=""></div>
                          <div id="u1381_text" class="text ">
                            <p><span>消息中心</span></p>
                          </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u1382" class="ax_default _默认样式">
                          <div id="u1382_div" class=""></div>
                          <div id="u1382_text" class="text ">
                            <p><span>接收设置</span></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unnamed (SVG) -->
            <div id="u1383" class="ax_default image1">
              <img id="u1383_img" class="img " src="images/search/u98.svg"/>
              <div id="u1383_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 分隔线条 (Dynamic Panel) -->
      <div id="u1384" class="ax_default" data-label="分隔线条">
        <div id="u1384_state0" class="panel_state" data-label="设置动态面板背景" style="">
          <div id="u1384_state0_content" class="panel_state_content">
          </div>
        </div>
      </div>

      <!-- 退出系统对话框 (subpanel) -->

      <!-- 对话框 (Dynamic Panel) -->
      <div id="u1386" class="ax_default ax_default_hidden" data-label="对话框" style="display:none; visibility: hidden">
        <div id="u1386_state0" class="panel_state" data-label="退出确认" style="">
          <div id="u1386_state0_content" class="panel_state_content">

            <!-- Unnamed (Rectangle) -->
            <div id="u1387" class="ax_default _默认样式">
              <div id="u1387_div" class=""></div>
              <div id="u1387_text" class="text ">
                <p></p><p></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1388" class="ax_default _默认样式">
              <div id="u1388_div" class=""></div>
              <div id="u1388_text" class="text ">
                <p style="font-size:16px;"><span style="font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;font-weight:700;color:#666666;">退出系统确认</span></p><p style="font-size:14px;"><span style="font-family:'微软雅黑', sans-serif;font-weight:400;color:#999999;">确定要退出登录吗？</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1389" class="ax_default _默认样式">
              <div id="u1389_div" class=""></div>
              <div id="u1389_text" class="text ">
                <p><span>确认提示</span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1390" class="ax_default _默认样式">
              <div id="u1390_div" class=""></div>
              <div id="u1390_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u1391" class="ax_default _默认样式" title="关闭">
              <div id="u1391_div" class=""></div>
              <div id="u1391_text" class="text ">
                <p><span></span></p>
              </div>
            </div>

            <!-- Unnamed (Group) -->
            <div id="u1392" class="ax_default" data-left="0" data-top="150" data-width="450" data-height="60">

              <!-- Unnamed (Rectangle) -->
              <div id="u1393" class="ax_default _默认样式">
                <div id="u1393_div" class=""></div>
                <div id="u1393_text" class="text " style="display:none; visibility: hidden">
                  <p></p>
                </div>
              </div>

              <!-- Unnamed (Group) -->
              <div id="u1394" class="ax_default" data-left="261" data-top="165" data-width="170" data-height="30">

                <!-- Unnamed (Group) -->
                <div id="u1395" class="ax_default" data-left="261" data-top="165" data-width="170" data-height="30">

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1396" class="ax_default _默认样式">
                    <div id="u1396_div" class=""></div>
                    <div id="u1396_text" class="text ">
                      <p><span>取消</span></p>
                    </div>
                  </div>

                  <!-- Unnamed (Rectangle) -->
                  <div id="u1397" class="ax_default _默认样式">
                    <div id="u1397_div" class=""></div>
                    <div id="u1397_text" class="text ">
                      <p><span>确定</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="u1385" style="display:none; visibility:hidden;"></div>
      <div id="u1333" style="display:none; visibility:hidden;"></div>

      <!-- Unnamed (Group) -->
      <div id="u1398" class="ax_default" data-left="256" data-top="248" data-width="520" data-height="537">

        <!-- Unnamed (Group) -->
        <div id="u1399" class="ax_default" data-left="376" data-top="558" data-width="400" data-height="160">

          <!-- Unnamed (Rectangle) -->
          <div id="u1400" class="ax_default _默认样式">
            <div id="u1400_div" class=""></div>
            <div id="u1400_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u1401" class="ax_default _默认样式">
            <div id="u1401_div" class=""></div>
            <div id="u1401_text" class="text ">
              <p><span>0/300</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1402" class="ax_default _默认样式">
          <div id="u1402_div" class=""></div>
          <div id="u1402_text" class="text ">
            <p><span>submit</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1403" class="ax_default _默认样式">
          <div id="u1403_div" class=""></div>
          <div id="u1403_text" class="text ">
            <p><span>clear</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1404" class="ax_default _默认样式">
          <div id="u1404_div" class=""></div>
          <div id="u1404_text" class="text ">
            <p><span>bike locatioin</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1405" class="ax_default _默认样式">
          <div id="u1405_div" class=""></div>
          <div id="u1405_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1406" class="ax_default _默认样式">
          <div id="u1406_div" class=""></div>
          <div id="u1406_text" class="text ">
            <p style="font-size:28px;"><span style="font-family:'LastResort', '.LastResort', sans-serif;"></span></p><p style="font-size:14px;"><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">upload</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1407" class="ax_default _默认样式">
          <div id="u1407_div" class=""></div>
          <div id="u1407_text" class="text ">
            <p style="font-size:28px;"><span style="font-family:'LastResort', '.LastResort', sans-serif;"></span></p><p style="font-size:14px;"><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">upload</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1408" class="ax_default _默认样式">
          <div id="u1408_div" class=""></div>
          <div id="u1408_text" class="text ">
            <p><span style="font-family:'Helvetica', sans-serif;color:#FF3B30;">*</span><span style="font-family:'Helvetica', sans-serif;color:#666666;"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;color:#666666;">photos：</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1409" class="ax_default _默认样式">
          <div id="u1409_div" class=""></div>
          <div id="u1409_text" class="text ">
            <p style="font-size:28px;"><span style="font-family:'LastResort', '.LastResort', sans-serif;"></span></p><p style="font-size:14px;"><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">upload</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1410" class="ax_default _默认样式">
          <div id="u1410_div" class=""></div>
          <div id="u1410_text" class="text ">
            <p><span>note：</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1411" class="ax_default _默认样式">
          <div id="u1411_div" class=""></div>
          <div id="u1411_text" class="text ">
            <p><span style="font-family:'Helvetica', sans-serif;">&nbsp;</span><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">Only pfd/jpg</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1412" class="ax_default _默认样式">
        <div id="u1412_div" class=""></div>
        <div id="u1412_text" class="text ">
          <p><span style="font-family:'Helvetica', sans-serif;color:#FF3B30;">*</span><span style="font-family:'Helvetica', sans-serif;color:#666666;"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;color:#666666;">bike location：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1413" class="ax_default _默认样式">
        <div id="u1413_div" class=""></div>
        <div id="u1413_text" class="text ">
          <p><span style="font-family:'Helvetica', sans-serif;color:#FF3B30;">*</span><span style="font-family:'Helvetica', sans-serif;color:#666666;"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;color:#666666;">fault：</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1414" class="ax_default _默认样式">
        <div id="u1414_div" class=""></div>
        <div id="u1414_text" class="text ">
          <p><span>Report:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1415" class="ax_default _默认样式">
        <div id="u1415_div" class=""></div>
        <div id="u1415_text" class="text ">
          <p><span>bike id</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1416" class="ax_default _默认样式">
        <div id="u1416_div" class=""></div>
        <div id="u1416_text" class="text ">
          <p><span style="font-family:'Helvetica', sans-serif;color:#FF3B30;">*</span><span style="font-family:'Helvetica', sans-serif;color:#666666;"> </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;color:#666666;">bike id：</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u1417" class="ax_default" data-left="376" data-top="315" data-width="400" data-height="40">

        <!-- Unnamed (Rectangle) -->
        <div id="u1418" class="ax_default _默认样式">
          <div id="u1418_div" class=""></div>
          <div id="u1418_text" class="text ">
            <p><span></span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u1419" class="ax_default _默认样式">
          <div id="u1419_div" class=""></div>
          <div id="u1419_text" class="text ">
            <p><span>the fault of the bike</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
