<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="d007cead4b954daf8dd3badbe1bf2273" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_d007cead4b954daf8dd3badbe1bf2273 = echarts.init(
            document.getElementById('d007cead4b954daf8dd3badbe1bf2273'), 'white', {renderer: 'canvas'});
        var option_d007cead4b954daf8dd3badbe1bf2273 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "name": "BikeRental",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                6,
                66
            ],
            "data": [
                {
                    "name": "BikeRental",
                    "value": "999",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,139,43)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "777",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,86,57)"
                        }
                    }
                },
                {
                    "name": "environmental protection",
                    "value": "699",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,152,74)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "688",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(105,80,74)"
                        }
                    }
                },
                {
                    "name": "Convenient",
                    "value": "588",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,43,78)"
                        }
                    }
                },
                {
                    "name": "environmental",
                    "value": "516",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(15,15,107)"
                        }
                    }
                },
                {
                    "name": "change",
                    "value": "515",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,59,56)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "483",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(52,44,108)"
                        }
                    }
                },
                {
                    "name": "breakthrough",
                    "value": "462",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,61,128)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "449",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,132,160)"
                        }
                    }
                },
                {
                    "name": "EASY",
                    "value": "429",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,105,101)"
                        }
                    }
                },
                {
                    "name": "Clean",
                    "value": "407",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,87,39)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "406",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(9,3,49)"
                        }
                    }
                },
                {
                    "name": "Convenient",
                    "value": "406",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(81,46,26)"
                        }
                    }
                },
                {
                    "name": "Smart",
                    "value": "386",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(152,134,45)"
                        }
                    }
                },
                {
                    "name": "Sustainable",
                    "value": "385",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,65,1)"
                        }
                    }
                },
                {
                    "name": "Innovation",
                    "value": "375",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(73,59,135)"
                        }
                    }
                },
                {
                    "name": "traveling",
                    "value": "355",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,135,6)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "355",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,117,116)"
                        }
                    }
                },
                {
                    "name": "Mobile bicycle sharing",
                    "value": "335",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,22,145)"
                        }
                    }
                },
                {
                    "name": "Eco-friendly",
                    "value": "324",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(113,157,86)"
                        }
                    }
                },
                {
                    "name": "cycling infrastructure",
                    "value": "304",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,92,29)"
                        }
                    }
                },
                {
                    "name": "SHARE",
                    "value": "304",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(47,45,37)"
                        }
                    }
                },
                {
                    "name": "earth",
                    "value": "284",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,89,148)"
                        }
                    }
                },
                {
                    "name": "Bicycle",
                    "value": "284",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,146,98)"
                        }
                    }
                },
                {
                    "name": "tourist",
                    "value": "284",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(116,3,22)"
                        }
                    }
                },
                {
                    "name": "Sustainable",
                    "value": "254",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,83,146)"
                        }
                    }
                },
                {
                    "name": "save time",
                    "value": "254",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(156,94,154)"
                        }
                    }
                },
                {
                    "name": "Glasgow",
                    "value": "253",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(92,134,152)"
                        }
                    }
                },
                {
                    "name": "Public",
                    "value": "253",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,15,121)"
                        }
                    }
                },
                {
                    "name": "Eco-friendly",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,137,52)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(130,94,47)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(104,109,76)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(139,94,86)"
                        }
                    }
                },
                {
                    "name": "tourist",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,139,103)"
                        }
                    }
                },
                {
                    "name": "Sustainable",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,126,69)"
                        }
                    }
                },
                {
                    "name": "cycling infrastructure",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,34,71)"
                        }
                    }
                },
                {
                    "name": "traffic",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,58,42)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "223",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(135,51,92)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,53,142)"
                        }
                    }
                },
                {
                    "name": "Sustainable",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(21,22,87)"
                        }
                    }
                },
                {
                    "name": "Eco-friendly",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(158,46,78)"
                        }
                    }
                },
                {
                    "name": "traveling",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(53,22,109)"
                        }
                    }
                },
                {
                    "name": "Smart",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(99,147,29)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(0,89,123)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,61,120)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "152",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,74,58)"
                        }
                    }
                },
                {
                    "name": "Sustainable",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,117,114)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,138,33)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,45,2)"
                        }
                    }
                },
                {
                    "name": "traveling",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,78,113)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,154,65)"
                        }
                    }
                },
                {
                    "name": "discount",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,70,121)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "112",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,134,38)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "92",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,112,54)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "92",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(44,70,89)"
                        }
                    }
                },
                {
                    "name": "Eco-friendly",
                    "value": "92",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,18,127)"
                        }
                    }
                },
                {
                    "name": "Glasgow",
                    "value": "92",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(132,80,8)"
                        }
                    }
                },
                {
                    "name": "earth",
                    "value": "92",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,36,59)"
                        }
                    }
                },
                {
                    "name": "traffic",
                    "value": "92",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,159,142)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "72",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,62,147)"
                        }
                    }
                },
                {
                    "name": "save time",
                    "value": "72",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(90,29,28)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "72",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(29,125,133)"
                        }
                    }
                },
                {
                    "name": "traveling",
                    "value": "72",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,130,133)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(97,1,115)"
                        }
                    }
                },
                {
                    "name": "BOOMING",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,78,58)"
                        }
                    }
                },
                {
                    "name": "Smart",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,45,25)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,15,98)"
                        }
                    }
                },
                {
                    "name": "safety",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,40,12)"
                        }
                    }
                },
                {
                    "name": "helpful",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,97,145)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,153,143)"
                        }
                    }
                },
                {
                    "name": "tourist",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,51,69)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,145,132)"
                        }
                    }
                },
                {
                    "name": "Convenient",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(36,152,73)"
                        }
                    }
                },
                {
                    "name": "discount",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(150,34,47)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,126,147)"
                        }
                    }
                },
                {
                    "name": "breakthrough",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(159,146,88)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "71",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(111,14,41)"
                        }
                    }
                },
                {
                    "name": "traffic",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,32,149)"
                        }
                    }
                },
                {
                    "name": "tourist",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,140,34)"
                        }
                    }
                },
                {
                    "name": "environmental friendly",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,75,157)"
                        }
                    }
                },
                {
                    "name": "Convenient",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(22,102,54)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,65,94)"
                        }
                    }
                },
                {
                    "name": "Renewable",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(50,159,140)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,150,10)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(148,120,98)"
                        }
                    }
                },
                {
                    "name": "Mobile bicycle sharing",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,82,17)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "41",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,11,49)"
                        }
                    }
                },
                {
                    "name": "Fresh Air",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(133,121,7)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(131,66,36)"
                        }
                    }
                },
                {
                    "name": "environmental protection",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,154,73)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,103,142)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(68,27,78)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,75,12)"
                        }
                    }
                },
                {
                    "name": "NEW",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,13,95)"
                        }
                    }
                },
                {
                    "name": "Smart",
                    "value": "21",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,125,102)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,44,125)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,53,93)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(143,137,133)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(71,76,13)"
                        }
                    }
                },
                {
                    "name": "save time",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(55,126,3)"
                        }
                    }
                },
                {
                    "name": "Glasgow",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,6,2)"
                        }
                    }
                },
                {
                    "name": "save time",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,155,64)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(112,2,102)"
                        }
                    }
                },
                {
                    "name": "tourist",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,99,57)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,48,38)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,85,66)"
                        }
                    }
                },
                {
                    "name": "cycling infrastructure",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(145,120,57)"
                        }
                    }
                },
                {
                    "name": "Eco-friendly",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,34,145)"
                        }
                    }
                },
                {
                    "name": "traffic",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(153,49,55)"
                        }
                    }
                },
                {
                    "name": "Eco-friendly",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(35,157,45)"
                        }
                    }
                },
                {
                    "name": "breakthrough",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,112,72)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(129,48,55)"
                        }
                    }
                },
                {
                    "name": "cycling infrastructure",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(141,83,69)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,125,31)"
                        }
                    }
                },
                {
                    "name": "Glasgow",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(84,86,109)"
                        }
                    }
                },
                {
                    "name": "prime",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,103,147)"
                        }
                    }
                },
                {
                    "name": "tourist",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(119,88,35)"
                        }
                    }
                },
                {
                    "name": "traveling",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(3,60,106)"
                        }
                    }
                },
                {
                    "name": "Mobile bicycle sharing",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,10,4)"
                        }
                    }
                },
                {
                    "name": "traveling",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(67,122,112)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,75,112)"
                        }
                    }
                },
                {
                    "name": "BIKE",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(138,118,5)"
                        }
                    }
                },
                {
                    "name": "Smart",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,54,147)"
                        }
                    }
                },
                {
                    "name": "Mobile bicycle sharing",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(146,104,27)"
                        }
                    }
                },
                {
                    "name": "Smart",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(103,144,37)"
                        }
                    }
                },
                {
                    "name": "Convenient",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,113,115)"
                        }
                    }
                },
                {
                    "name": "discount",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(137,9,47)"
                        }
                    }
                },
                {
                    "name": "GREEN",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(147,39,147)"
                        }
                    }
                },
                {
                    "name": "Convenient",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(124,115,79)"
                        }
                    }
                },
                {
                    "name": "discount",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,12,126)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(26,135,120)"
                        }
                    }
                },
                {
                    "name": "Low-Carbon",
                    "value": "11",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,113,147)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "BikeRental",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "fontSize": 23
            }
        }
    ]
};
        chart_d007cead4b954daf8dd3badbe1bf2273.setOption(option_d007cead4b954daf8dd3badbe1bf2273);
    </script>
</body>
</html>
